@font-face {
    font-family: inconsolata;
    src: url(../fuente/Inconsolata-VariableFont_wdth\,wght.ttf);
}

body{
    background-color: rgb(255, 255, 255);
  
}


.contenedor-grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
input{
    margin: 20px;
}

.head{

    background: linear-gradient(to bottom, #13222c, #57626d);
    text-align: center;
    padding: 0.5rem;

}


.footer{
    background-color: rgb(66, 128, 128);
    border: 1px solid black;
    color: antiquewhite;
    text-align: left;
    background-image: linear-gradient(to bottom, #333333, #000000); /* degradado de arriba hacia abajo */
    border: none; /* borde cero */
    color: #ffffff; /* color del texto en el footer */
    padding: 3px;
}
img{
    width: 20rem;
}


h1{
    color: crimson;
    font-family: inconsolata;
    font-size: 4rem;
    margin-top: 2.1rem;
}

.footer-text {
    padding: 0%;
    margin: 0%;

    font-size: 0,1rem;
}
.contenedor-footer{
    margin-left: 1rem;
}

h3{
    padding: 0%;
    margin-left: 1rem;
    margin-top: 0.3 rem;
    margin-bottom: 0.3rem;
}
h2{
    font-size: 1rem;

}

input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 600px;
}

input[type="text"]:focus {
    outline: none;
    border: 1px solid #0077b5;
}

::placeholder {
    color: #aaa;
    font-style: italic;
}

.producto{

    width: 100%;
    height: 100%;
    text-align: center;
}